@font-face {
    font-family: "Major Mono Display";
    src: url(../fonts/major-mono-display/MajorMonoDisplay-Regular.ttf);
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/anonymous-pro/anonymous-pro-regular.ttf);
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/anonymous-pro/anonymous-pro-bold.ttf);
    font-weight: bold;
}

#title {
    font-family: "Major Mono Display";
    margin-bottom: 0px;
}
#subtitle {
    margin-top: 0px;
}

* {
    font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}

body {
    /* max-width: 500px; */
    text-align: center;
    background-color: pink;
    margin: auto;
    /* padding: 10px; */
}

#title {
    font-size: large;
    font-weight: bold;
}

textarea {
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    outline: none;
    background-color: white;
    width: 50em;
    height: 20em;
    margin: 0px !important;
}

textarea::-webkit-input-placeholder {
    text-align: center;
    line-height: 20em;
 }