@font-face {
    font-family: "Major Mono Display";
    src: url(../fonts/major-mono-display/MajorMonoDisplay-Regular.ttf);
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/anonymous-pro/anonymous-pro-regular.ttf);
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/anonymous-pro/anonymous-pro-bold.ttf);
    font-weight: bold;
}

* {
    font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}

#title {
    font-family: "Major Mono Display";
    margin-bottom: 0px;
    font-size: large;
    font-weight: bold;
}
#subtitle {
    margin-top: 0px;
}

#current-note-title, #manually-saved-note-title, #automatically-saved-note-title {
    font-family: "Major Mono Display";
    font-size: large;
    font-weight: bold;
    margin-bottom: 3px;
}

body {
    background-color: pink;
    margin: auto;
    text-align: center;
}

textarea {
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    outline: none;
    background-color: white;
    width: 90vw;
    height: 20em;
    /* margin is modified by browser when resizing text area?*/
    margin: 0px !important;
    /* resize: vertical; */
    /* overflow-y: scroll; */
}

#manually-saved-note, #automatically-saved-note {
    background-color: lightgray;
    color: darkgray;
}

button {
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    background-color: transparent;
    outline: none;
}

#temp {
    /* display: none; */
}